body {
    padding-top    : 60px;
    padding-bottom : 60px;
}

.footer {
    position         : fixed;
    bottom           : 0px;
    height           : 20px;
    line-height      : 20px;
    width            : 100%;
    padding          : 0;
    margin           : 0;
    background-color : #ffffff;
}
h5, .list-group {
    font-size: 1.5em;
}